<div class="row" ng-controller="NavBarController">

  <ul class="simple-navbar">
    <li><a href="javascript:;" ng-click="redirectTo('home')">Home</a></li>
    <li>|</li>
    <li><a href="javascript:;" ng-click="redirectTo('simple-poligons')">Creating ellipse using AnglarJS's two way binding</a></li>
  </ul>

</div>
