<div ng-include="'Apps/AngularApp/views/partials/navbar.html'"></div>
<div class="row">

<div cesium-viewer id="cesiumContainer"></div>

<h1>Cesium as angular directive.</h1>

<p>I've created a simple angularJS directive what only needs to assign to div, where we want to use
the Cesium viewer.</p>
<p>
  The code looks like this: {{exampleCode}}
</p>

<pre>
  <code class="language-html">{{exampleCode}}</code>
</pre>

<p>
  The "cesium-viewer" attribute creates the new cesium viewer by the div's id. This can be more complex, see on next page.
</p>
</div>
