<div ng-include="'Apps/AngularApp/views/partials/navbar.html'"></div>
<div class="row">
<h1>Cesium as angular directive.</h1>

<pre>
  <code class="language-html">{{exampleCode}}</code>
</pre>

<p>
  As we can saw in code, next to "cesium-viewer" we can saw "c-ellipse".
  This is a new angular directive, which is using the "cesium-viewer" viewer object
  and draws ellipses on it.
</p>
<p>
  Next to "c-ellipse" attribute there is a new attribute "polygons" and there is
  a p assigned to it.
  This p is a angular scope array what contains objects with memebers: lat, long,
  semiMinorAxis, semiMajorAxis.
</p>
<p>
  When this we push a new element to p (by filling the input fields and clicking
  Add new Ellipse), the directive automatically draws the new ellipse what we
  defined in form.
</p>
<div class="alert-box success">
  <p>
    This is just some simple example, but with the power of angular directives,
    we can easily create and manipulate cesium containers.
  </p>

</div>

<div cesium-viewer c-ellipse polygons="p" id="cesiumContainer"></div>

<ul ng-repeat="ellipse in p">
  <li>Ellipse #{{$index}}</li>
  <li>Lat: {{ellipse.lat}}</li>
  <li>Long: {{ellipse.long}}</li>
  <li>semiMinorAxis: {{ellipse.semiMinorAxis}}</li>
  <li>semiMajorAxis: {{ellipse.semiMajorAxis}}</li>
</ul>

<label>Lat:
  <input type="text" ng-model="newEllipse.lat">
</label>
<label>Long:
  <input type="text" ng-model="newEllipse.long">
</label>
<label>semiMinorAxis:
  <input type="text" ng-model="newEllipse.semiMinorAxis">
</label>
<label>semiMajorAxis:
  <input type="text" ng-model="newEllipse.semiMajorAxis">
</label>

<a ng-click="addEllipse()" href="javascript:;">Add new Ellipse</a>

</div>
