ul.simple-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.simple-navbar li {
    display: inline;
}

#cesiumContainer {
    width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
}
